<footer class="footer py-1 bg-dark text-center text-primary footer-relative">
	<p>Alexandre LE &copy; 2022
		<br/>
		Tous droits réservés</p>
	{# <a href="#" title="Back" id="chevron"><i class="fas fa-angle-double-up fa-2x bounce"></i> </a> #}
</footer>
