<footer class="footer bg-dark text-primary">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg">
			<div class="container-fluid">
				<div class="position-absolute top-50 start-50 translate-middle">
					<p>Alexandre LE &copy; 2022
						<br/>
						Tous droits réservés</p>
				</div>
				<a class="navbar-brand ms-auto text-primary" href="#">
					<i class="fas fa-angle-double-up fa-2x bounce"></i>
				</a>
			</div>
		</nav>
	</div>
</footer>
