<form method="post" action="{{ path('app_couleur_delete', {'idCouleur': couleur.idCouleur}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ couleur.idCouleur) }}">
    <button class="btn">Delete</button>
</form>
