{% extends 'base.html.twig' %}

{% block title %}New Couleur
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center m-5">

			<div class="card bg-dark border rounded-5 border mt-4 col-md-8 justify-center content-center">
				<div class="card-title text-center text-white">
					<h1>Ajouter nouvelle Couleur</h1>
				</div>
				<div class="card-body text-center">

					{{ include('couleur/_form.html.twig') }}

					<a class="btn btn-warning" role="button" href="{{ path('app_couleur_index') }}">Retour à la liste</a>


				</div>
			</div>
		</div>

	</div>
{% endblock %}
