{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Accueil{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container d-flex flex-column min-vh-100">
		<div class="row">
			<div class="col-12 text-center mt-5">
				<h1>
					{% trans %}Bienvenue sur le site de Gestion de la SDBM{% endtrans %}</h1>
			</div>
		</div>
	</div>
{% endblock %}
