<form method="post" action="{{ path('app_ticket_delete', {'annee': ticket.annee}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ticket.annee) }}">
    <button class="btn btn-danger" id="submitForm">{% trans %}Supprimer{% endtrans %}</button>
</form>
