<form method="post" action="{{ path('app_fabricant_delete', {'idFabricant': fabricant.idFabricant}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fabricant.idFabricant) }}">
    <button class="btn btn-danger" id="submitForm">{% trans %}Supprimer{% endtrans %}</button>
</form>
