<form method="post" action="{{ path('app_fabricant_delete', {'idFabricant': fabricant.idFabricant}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fabricant.idFabricant) }}">
    <button class="btn">Delete</button>
</form>
