{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modification Fabricant{% endtrans %}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center m-5">

			<div class="card bg-dark border rounded-5 border mt-4 col-md-8 justify-center content-center">
				<div class="card-title text-center text-white">
					<h1>{% trans %}Modification du Fabricant{% endtrans %}</h1>
				</div>

				<div class="card-body text-center">

					{{ include('fabricant/_form.html.twig', {'button_label': 'Mettre à jour'|trans}) }}

					<a class="btn btn-warning mt-3" role="button" href="{{ path('app_fabricant_index') }}">{% trans %}Retour à la liste{% endtrans %}</a>

					{{ include('fabricant/_delete_form.html.twig') }}

				</div>

			</div>

		</div>
	</div>
{% endblock %}
