{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer'|trans) }}</button>
    
{{ form_end(form) }}


