<form method="post" action="{{ path('app_pays_delete', {'idPays': pay.idPays}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pay.idPays) }}">
    <button class="btn btn-danger" id="submitForm">{% trans %}Supprimer{% endtrans %}</button>
</form>
