<form method="post" 
action="{{ path('app_vendre_delete', {'annee': annee,'no': no,'id': vendre.idArticle.idArticle}) }}" 
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vendre.idArticle) }}">
    <button class="btn btn-danger" id="submitForm"><i class="fa-regular fa-trash-can"></i></button>
</form>
