<form method="post" action="{{ path('app_article_delete', {'idArticle': article.idArticle}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idArticle) }}">
    <button class="btn btn-danger" id="submitForm">{% trans %}Supprimer{% endtrans %}</button>
</form>
