<form method="post" action="{{ path('app_typebiere_delete', {'idType': typebiere.idType}) }}" >
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ typebiere.idType) }}">
    <button class="btn btn-danger" id="submitForm">{% trans %}Supprimer{% endtrans %}</button>
</form>
